New generator for Fiber

Hey team, came across a significant blocker and I'm unsure (yet) where in this codebase it lives to try a fix for it!

### Details
When generating a Go model spec using `fern-go-model`, we expect to access query parameters via QueryParser (context, we're using Fiber as our backend implement). However, because those parameters are generated as JSON bodies without a name, they cannot be accessed.

### Reproduce

Heavily stripped of type aliasing and example declarations:

```yaml
types:
  ApiTimestamp:
    type: datetime
    docs: UTC timestamp for when the object started; an RFC 3339, section 5.6 datetime.
    examples:
      - name: example
        value: 2017-07-21T17:32:28.345Z
      - name: example2
        value: 2017-07-21T17:58:49.678Z

service:
  base-path: /endpoint/{pathId}
  path-parameters:
    pathId: string
  endpoints:
    GetEndpoint:
      docs: >2
        Retrieve a list of objects for the given date range, ordered chronologically.
      method: GET
      path: /date
      request:
        name: GetEndpoint
        query-parameters:
          from:
            type: ApiTimestamp
          to:
            type: ApiTimestamp
          limit:
            type: optional<integer>
            docs: >2
              The number of results to return for a given page. With a `limit` of 5, "page 1" would be
              items `0` to `4`.
          start:
            type: optional<integer>
            docs: >2
              The number of results to skip. With a `limit` of 5 and a start of `5`, "page 1" would be
              items `0` to `4`, and "page 2" would be items `5` to `9`.
      response:
        type: list<string>
      examples:
        # Success response
        - path-parameters:
            pathId: example
          query-parameters:
            from: $ApiTimestamp.example
            to: $ApiTimestamp.example2
            limit: 2
            start: 2
          response:
            body:
              - example_response
```

1. Feed this to a minimal Fern spec, then perform `fern generate` with `fern-go-model` 0.4.1 as a generator.
2. Observe the generated go-model file. Note the following:
```go
type GetEndpoint struct {
	From ApiTimestamp `json:"-"`
	To   ApiTimestamp `json:"-"`
	// The number of results to return for a given page. With a `limit` of 5, "page 1" would be items `0` to `4`.
	Limit *int `json:"-"`
	// The number of results to skip. With a `limit` of 5 and a start of `5`, "page 1" would be items `0` to `4`, and "page 2" would be items `5` to `9`.
	Start *int `json:"-"`
}
```

The expected output (that does work with QueryParser) is:
```go
type GetEndpoint struct {
	From ApiTimestamp `query:"from"`
	To   ApiTimestamp `query:"to"`
	// The number of results to return for a given page. With a `limit` of 5, "page 1" would be items `0` to `4`.
	Limit *int `query:"limit"`
	// The number of results to skip. With a `limit` of 5 and a start of `5`, "page 1" would be items `0` to `4`, and "page 2" would be items `5` to `9`.
	Start *int `query:"start"`
}
```

Any thoughts?

I want to say it's in here somewhere... https://github.com/fern-api/fern-go/blob/main/internal/generator/model.go

Hey @csm-kb! Got it -- it sounds like you want to use fern's go model generator while you write your backend. 

The model generator is really optimized for the `types` section  (JSON models) - for other languages we usually maintain a server generator that has a first class integration with the server framework you use. 

In this case, I could imagine a `fern-go-fiber` generator that uses `fern-go-model` to generate types but adds its own appropriate annotations for proper HTTP Request parsing -- would you want to contribute that? 

> In this case, I could imagine a `fern-go-fiber` generator that uses `fern-go-model` to generate types but adds its own appropriate annotations for proper HTTP Request parsing -- would you want to contribute that?

@dsinghvi Aha... interesting way to handle that. From what I gather this Fiber generator would be a pretty simple extension on `go-model` then, just adding the minor annotations and a module definition to make it importable (which `go-model` is 94% there, in this case)! That would just be a `fiber.go` file in `internal/generator`, yeah?

+@connormahon34 for vis -- I will admit, these generator codebases have a mesa-shaped approachability curve (hard to get into, probably easy once you're in the know) . . . but we wouldn't mind contributing to that!

That's right -- we are happy to hop on a call with you and the team to discuss how to contribute! Here's my [calendar](https://calendly.com/deep-singhvi/30min?month=2023-08)! 

The generator codebases are harder to contribute to but once you make your first small change, I'm sure things will go fast! 

@csm-kb `fernapi/fern-go-fiber` is available at version `0.6.0` now ([link](https://hub.docker.com/r/fernapi/fern-go-fiber/tags))! Thanks again for the contribution!

@amckinney Oh wow, clean PR with no feedback? I'm honestly surprised... thank you very much for having it! 🙇‍♂️

I lied... you posted it in the issue :facepalm: